<!--<div style="height:500px;width:500px;overflow:scroll" align="center">-->
<table border="1" align="center">
	
	<% @myinputs.length.times do %>
		<colgroup width="200">
	<%end%>
		
    <tr>
        <%@myinputs.each do |i| %>
        <%= "<td> #{i.name} </td>" %>
        <%end %>
    </tr>
    <tr>
        <%@myinputs.each do |i| %>
        <%= "<td> #{i.country.name} </td>" %>
        <%end %>
    </tr>
    <tr>
        <%@myinputs.each do |i| %>
        <%= "<td> #{i.time_zone.name} </td>" %>
        <%end %>
    </tr>
	
	<%(0 .. 23).each do |i| %>
		<% am_pm = i < 12 ? "am" : "pm" %>
		<%= "<tr>" %>
		<td> <%="#{(i%12 != 0) ? i%12 : 12}:00 #{am_pm}"%> </td>
		<%(1..(@myinputs.length-1)).each do |j|%>
			<% tz_delta = i + @tzdeltas[j]%>
			<% am_pm = tz_delta%24 < 12 ? "am" : "pm" %>
			<%= "<td> #{(tz_delta%12 != 0) ? tz_delta%12 : 12}:00 #{am_pm}</td>" %>
		<%end%>
		<%= "</tr>" %>
	<%end%>
	
</table>
<!--</div>-->

<br>
