

<!-- Move below this back into layout-->

<title>TimeDJ</title>

</head>

<body>

<div class="Title"/>
	<img src="/images/timedj_title.png">
</div>
<BR>


<!-- Move above this back into layout-->







<!--<div style="height:500px;width:500px;overflow:scroll" align="center">-->
<table id="timetable" border="1" align="center">
	<% @myinputs.length.times do %>
		<colgroup width="200">
	<%end%>
    <thead>		
    <tr>
	<%@myinputs.each do |i| %>
        	<%= "<th> #{i.name}<BR>"%>
        	<%= "#{i.country.name} <BR>" %>
        	<%= "#{i.time_zone.name} </th>" %> 
	<%end%>     
    </tr>
		
    </thead>
    <tbody>
      

   
	<%(0 .. 23).each do |i| %>
		<% am_pm = i < 12 ? "am" : "pm" %>
		<%= "<tr>" %>
		<td> <%="#{(i%12 != 0) ? i%12 : 12}:00 #{am_pm}"%> </td>
		<%(1..(@myinputs.length-1)).each do |j|%>
			<% tz_delta = i + @tzdeltas[j]%>
			<% am_pm = tz_delta%24 < 12 ? "am" : "pm" %>
			<%= "<td> #{(tz_delta%12 != 0) ? tz_delta%12 : 12}:00 #{am_pm}</td>" %>
		<%end%>
		<%= "</tr>" %>
	<%end%>

        </tbody>
</table>
<!--</div>-->

<br>
